<div class="w-[90%] mx-auto px-4 py-2 border rounded border-blue-300 my-2 shadow-xl">
    <div class="flex justify-between gap-1 mb-2">

                    <%=link_to edit_note_path(@note),class:"text-green-300 hover:text-green-600 " do%>
                        <i class="fa-regular fa-pen-to-square"></i>
                    <%end%>
                    <%=link_to note_path(@note) ,data:{turbo_method: :delete,turbo_confirm: "Confirm Deletion of this item?"},class:"text-red-300 hover:text-red-500 " do%>
                    <i class="fa-regular fa-trash-can"></i>
                    <%end%>
                    
    </div>
    <h2 class="text-center text-blue-400 text-2xl p-3 "> <%=@note.title%></h2>
    <pre class="p-3 whitespace-pre-wrap break-words bg-gray-100 rounded border border-gray-300 overflow-x-auto">
    <code><%= @note.content %></code>
    </pre>    
</div>