<%=turbo_stream_from "pending_request"%>
<%if @pending_requests.empty?%>
    <h2 class="text-center font-semibold text-2xl text-center">No Friend requests.</h2>
<%else%>
    <h2 class="text-center font-semibold text-2xl text-center">Pending Friend Requests</h2>
    <div id="pending">

    <% @pending_requests.each do |friendship| %>
    
        <%=render "pendingRequest",friendship:friendship%>
    <% end %>
    </div>
<%end%>
